<div class="timer">
    <div class="timer__title">
        <h3>Current session</h3>
    </div>
    <div class="timer__time">
        <div class="timer__ho-min-sec">
            <h1 class="timer__hour">{{ hrs }}</h1>
            <span class="timer__label">Hours</span>
        </div>
        <div class="timer__ho-min-sec">
            <h1 class="timer__min">{{ min }}</h1>
            <span class="timer__label">Minutes</span>
        </div>
        <div class="timer__ho-min-sec">
            <h1 class="timer__sec">{{ sec }}</h1>
            <span class="timer__label">Seconds</span>
        </div>
    </div>
</div>
